:root {
  --primary-color: blue;
  --secondary-color: white;
  --text-color: black;
  --background-color: lightblue;

}

body {
  margin: 0;
}

.beth-ellen-regular {
  font-family: "Beth Ellen", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8em;
  color: rgb(27, 107, 73);
}

.hero-container {
  max-width: 100%;
}

.hero-photo {
  position: relative;
  display: inline-block;
  overflow: hidden;
  background: #e1bcbc;
}

.hero-photo img {
  display: block;
  height: 500px;
  max-width: 100%;
  /* Fade from fully visible (right) to transparent (left) */
  -webkit-mask-image: linear-gradient(to left,
      rgba(0, 0, 0, 1) 70%,
      rgba(0, 0, 0, 0) 97%);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-image: linear-gradient(to left,
      rgba(0, 0, 0, 1) 70%,
      rgba(0, 0, 0, 0) 97%);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
  
}


.hero-photo::after {
  /* Degradado encima */
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0) 70%, #fff 100%);

}

.hero .row {
  --bs-gutter-x: 2.5rem;
}

/* Gradient background for the feature row */
.feature-gradient {
  background: linear-gradient(to right,
      #ff6f61 0%,     /* coral / reddish on the left */
      #b33e42 50%,    /* soft pink in the middle */
      #843cad 100%    /* light pastel pink on the right */
  );
  color: #fff; /* make text white for contrast */
}

.feature-gradient p,
.feature-gradient a {
  color: #fff !important;
}

.feature-gradient a.btn {
  background-color: rgba(176, 184, 25, 0.605);
  border: none;
  color: #fff;
}
.feature-gradient a.btn:hover {
  background-color: rgba(255,255,255,0.4);
}
